body {
    background-color: #E7E5E1;   
    margin: 0;
    margin-left: 30%;   
    margin-top: 2%;
    justify-content: center;
    
}

form {
    margin-left: 10%;
}

body ::selection {
    background-color: gray;
}

@font-face {
    font-family: "poppins";
    src: url(../FONTES/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'lato';
    src: url(../FONTES/Lato/Lato-Regular.ttf);
}

#voltar {
    width: 15%;
    height: 2em;
    border-radius: 30px;
    background-color: #0C1F4F;
}

#voltar img {
    width: 2em;
}

#voltar h2 {
    color: white; 
    position: relative;
    bottom: 2.9em;
    left: 33%;
    font-size: 1rem;
}

#voltar a {
    text-decoration: none;
}

h2 {
    font-family: 'poppins';
    color: #F84E03;
    text-transform: uppercase;
    margin-left: 6%;
    
}

p {
    font-family: 'lato';
    color: #0C1F4F;
    font-size: 1em;
    margin-left: 13%;
}

input,button, textarea {
    border-radius: 5px;
}

#campo {
    margin-bottom: 1em;
}

#campo label {
    margin-bottom: 0.2em;
    color: #0C1F4F;
    font-family: 'lato';
    display: block;
}

textarea {
    width: 40%;
}

#campo input[type="number"], #campo textarea{
    padding: 0.2em;
    border: 1px solid #0C1F4F; 
    box-shadow: 2px 2px 2px #0C1F4F;
    display: block;
}

button {
    font-size: 1em;
    background-color: #0C1F4F;
    color: white;
    border: 0;
    width: 6em;
    height: 2em;
    margin-left: 15%;
    margin-bottom: 1em;
    box-shadow: 2px 2px 2px #0C1F4F;
    
}

button:hover {
    background-color: #F84E03;
    cursor: pointer;  
}
